<!--                                Modal Logout                                          -->
<div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LogoutModalLabel">User Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
        <div class="logueado">
          <p>Te has logueado correctamente</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="logout" class="btn btn-primary">Cerrar Sesión</button>
        </div>
        </form>
      </div>
    </div>
  </div>