<app-modal-login></app-modal-login>
<app-modal-logout></app-modal-logout>
<app-modal-banner></app-modal-banner>
<app-modal-acerca-de-edit></app-modal-acerca-de-edit>
<app-modal-acerca-de-delete></app-modal-acerca-de-delete>
<app-modal-experiencia-edit></app-modal-experiencia-edit>
<app-modal-experiencia-delete></app-modal-experiencia-delete>
<app-modal-educacion-edit></app-modal-educacion-edit>
<app-modal-educacion-delete></app-modal-educacion-delete>
<app-modal-habilidades-add></app-modal-habilidades-add>
<!-- <app-modal-habilidades-edit></app-modal-habilidades-edit> -->
<app-modal-habilidades-delete></app-modal-habilidades-delete>
<!-- <app-modal-proyectos-add></app-modal-proyectos-add> -->
<!-- <app-modal-proyectos-edit></app-modal-proyectos-edit> -->
<app-modal-proyectos-delete></app-modal-proyectos-delete>
<app-modal-perfil></app-modal-perfil>
<app-modal-perfil-nombre></app-modal-perfil-nombre>
<app-modal-redes-edit></app-modal-redes-edit>
<app-modal-redes-add></app-modal-redes-add>
<app-modal-redes-delete></app-modal-redes-delete>
<app-modal-boton-de-descarga-edit></app-modal-boton-de-descarga-edit>