<ul *ngIf="modoEdicion" class="list-group list-group-horizontal">
    <!--                          Button Add                                          -->
<li class="list-group-item edicion-redes"><i class="fa-solid fa-plus fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#AddRedesModal"></i></li>
    <!--                          Button Edit                                         -->
<li class="list-group-item edicion-redes"><i class="fa-solid fa-pen-to-square fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#EditRedesModal"></i></li>
    <!--                          Button Delete                                       -->
<li class="list-group-item edicion-redes"><i class="fa-solid fa-x fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#DeleteRedesModal"></i></li>
</ul>