<section id="habilidades" class="hard-and-soft-kills">
    <div class="container border mt-sm-5" style="border-radius:10px">
      <div id="borde" class="col-1 text-perfil">
        <h2 class="d-inline">Habilidades</h2>
    </div>
      <div class="row">
        <ul class="list-group botones-de-edicion edicion-experiencia-y-otros list-group-horizontal">
          <!--                          Button edit                                         -->
        <li class="list-group-item"><i class="fa-solid fa-pen-to-square fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#EditHabilidadesModal"></i></li>
          <!--                          Button Delete                                       -->
        <li class="list-group-item"><i class="fa-solid fa-x fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#DeleteHabilidadesModal"></i></li>
        </ul>
  <div id="texto-para-ajustar" class="col text-perfil text-start responsive">
    <div id="moverprogresos" class="progress-circle-container">
      <div *ngFor="let habilidades of habilidades" class="progress-circle mb-5" ngClass="{{habilidades.color}}"><span> <img [src]="habilidades.logo" [style.width.px]="habilidades.tamanio"> <div id="porcentaje">{{habilidades.nombre}} {{habilidades.porcentaje}}</div></span>
      </div>  
    </div>
  </div>
</div>
</div>
</section>
