<app-navbar-contacto></app-navbar-contacto>
<app-modal-login></app-modal-login>

<main>
  <div id="contactoscroll">
  <section class="contacto">
      <div class="content">
          <h1 class="logo animate__animated animate__rubberBand">Contact <span>Me</span></h1>
          <div class="contact-wrapper">
            <div class="contact-form">
              <h2>Contact Me</h2>
              <form action="">
                <p>
                  <label>Nombre Y Apellido</label>
                  <input type="text" name="nombre y apellido">
                </p>
                <p>
                  <label>Email</label>
                  <input type="email" name="email">
                </p>
                <p>
                  <label>Telefono</label>
                  <input type="tel" name="telefono">
                </p>
                <p>
                  <label>Asunto</label>
                  <input type="text" name="asunto">
                </p>
                <p class="block">
                  <label>Mensaje</label>
                  <textarea name="mensaje" rows="3"></textarea>
                </p>
                <p class="block">
                  <button type="submit">
                    Enviar
                  </button>
                </p>
              </form>
            </div>
          </div>
      </div>
  </section>
</div>
</main>
<app-pie-de-pagina></app-pie-de-pagina>