<section id="educación" class="education">
    <div class="container border mt-sm-5" style="border-radius:10px">
      <div class="row">
        <ul class="list-group botones-de-edicion edicion-experiencia-y-otros list-group-horizontal">
          <!--                          Button edit                                         -->
        <li class="list-group-item"><i class="fa-solid fa-pen-to-square fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#EditEducaciónModal"></i></li>
          <!--                          Button Delete                                       -->
        <li class="list-group-item"><i class="fa-solid fa-x fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#DeleteEducaciónModal"></i></li>
        </ul>
    <div id="borde" class="col-1 text-perfil">
      <h2 class="d-inline">Educación</h2>
  </div>
  <div id="texto-para-ajustar" class="col text-perfil text-start">
    <h5 class="d-inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, natus. Ipsum tempore fuga in alias maxime temporibus harum quasi officiis dolor dolores magnam dignissimos assumenda vel, repellendus aliquid, quia praesentium?</h5>
  </div>  
</div>
</div>
</section>
