<!--                                Modal Habilidades Edit                                              -->
<div class="modal fade" id="EditHabilidadesModal" tabindex="-1" aria-labelledby="EditHabilidadesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EditHabilidadesModalLabel">Habilidades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body form-floating">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Habilidad</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="floatingInput">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Grado De Dominio</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="floatingInput" min="0" max="100">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>