/*  texto acerca de mi  */
.text-perfil{
    color: #000000;
}
.modal-title.fw-semibold{
    color: #000000;
    font-family: 'Prompt', sans-serif;
}
.cinzel-letter{
  font-family: 'Cinzel', serif;
}

  /* Sección Responsive */
  @media screen and (max-width: 920px) {
    div.col-3{
        flex-wrap: nowrap;
        text-align: center;
        width: 11rem;
        font-size: 65%;
    }
    div.col{
      text-align: center;
      width: 20rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      position: relative;
      flex-wrap: nowrap;
      margin-top: 1rem;
  }
    
}