/*  texto acerca de mi  */
.text-perfil{
    color: #000000;
}
.modal-title.fw-semibold{
    color: #000000;
    font-family: 'Prompt', sans-serif;
}
.cinzel-letter{
  font-family: 'Cinzel', serif;
}
