<div class="row">
  <div class="col-3">
  <img src="./assets/img/Nataniel.F- (6).png" class="rounded-circle w-75" alt="..." title="...">
  <h2 class="modal-title fw-semibold">Nataniel Ferreyra</h2>
  <h4 class="modal-title cinzel-letter">Full Stack Developer Jr</h4>
</div>
<div class="col pt-md-5 text-perfil">
  <div class="row">
    <h2 class="d-inline">Acerca De Mi</h2>
  <div class="text-justify-content">
    <h5 class="d-inline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tempora expedita officiis cupiditate, accusamus quasi! Ullam id, inventore eveniet accusantium asperiores, maiores quas magnam quasi odio ut doloremque cumque. Sapiente.</h5>
  </div>
</div> 
</div>
</div>