<!--                                Modal Educación Delete                                   -->
<div class="modal fade" id="DeleteEducaciónModal" tabindex="-1" aria-labelledby="DeleteEducaciónModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DeleteEducaciónModalLabel">Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
        <div class="modal-body form-floating">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Titulo</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="floatingInput">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>