<footer class="pie-de-pagina container-fluid">
    <div *ngFor="let botondescarga of botondescarga" class="grupo-1">
    <p>Para descargar mi cv haz click en el siguiente botón</p>
    <a class="boton-descarga" [href]="botondescarga.link" [download]="botondescarga.nombre"><i class="fa-solid fa-download fa-xl"></i></a>
  </div>
  <div *ngFor="let botondescarga of botondescarga" class="grupo-2">
    <small>&copy; {{botondescarga.anio_derechos}} <b>{{nombre}} {{apellido}}</b> -Todos Los Derechos Reservados.</small>
  </div>
</footer>