<footer class="pie-de-pagina container-fluid">
    <div *ngFor="let botondescarga of botondescarga" class="grupo-1">
    <p class="responsive">Para descargar mi cv haz click en el siguiente botón</p>
    <a class="boton-descarga responsive" [href]="botondescarga.link" [download]="botondescarga.nombre"><i class="fa-solid fa-download fa-xl"></i></a>
    <ul class="list-group botones-de-edicion edicion-botondescarga list-group-horizontal">
      <!--                          Button edit                                         -->
    <li class="list-group-item"><i class="fa-solid fa-pen-to-square fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#EditBotonDescargaModal"></i></li>
    </ul>
  </div>
  <div *ngFor="let botondescarga of botondescarga" class="grupo-2">
    <small>&copy; {{botondescarga.anio_derechos}} <b>{{nombre}} {{apellido}}</b> -Todos Los Derechos Reservados.</small>
  </div>
</footer>