/*  edición perfil  */
ul.list-group.botones-de-edicion.edicion-perfil.list-group-horizontal{
    padding-left: 14rem;
    padding-top: 4rem;
  }

  /*  edición perfil nombre  */
  ul.list-group.botones-de-edicion.edicion-perfil-nombre.list-group-horizontal{
    margin-top: 1.5rem;
    padding-left: 18rem;
  }
  
  /*  edición perfil acerca de  */
  ul.list-group.botones-de-edicion.edicion-perfil-acercade.list-group-horizontal{
    margin-top: -2rem;
    padding-left: 53rem;
  }

/*  texto acerca de mi  */
.text-perfil{
  color: #000000;
}
.modal-title.fw-semibold{
  color: #000000;
  font-family: 'Prompt', sans-serif;
}
.cinzel-letter{
font-family: 'Cinzel', serif;
}

  /*  botones de edición dashboard  */
i.fa-solid.fa-pen-to-square.fa-xl{
  display: block;
  color: #36ceb2;
}

i.fa-solid.fa-pen-to-square.fa-xl:hover{
  transform: scale(120%);
}

/*  botones de borrar dashboard  */
i.fa-solid.fa-x.fa-xl{
  display: block;
  color: #36ceb2;
}

/*  botones edición redes  */
li.list-group-item.edicion-redes{
margin-top: -1rem;
}

i.fa-solid.fa-x.fa-xl:hover{
  transform: scale(120%);
}

.list-group{
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: transparent;
}


/*  Posición Botones Edición Dashboard  */
ul.list-group.botones-de-edicion.list-group-horizontal {
  position: absolute;
}