<nav class="navbar navbar-expand-lg bg-primary fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="./assets/img/LogoArgProgram.png" alt="" width="65%" height="" class="logoargprogram" data-bs-toggle="collapse">
      </a>
        <!--Botones menu nav-->
        <div class="row" id="botones-lista">
        <ul class="navbar-brand list-group list-group-horizontal">
          <li class="boton-acercade" type="button">
            <a class="botones-menu" href="#información">Acerca de</a>
          </li>
          <li class="boton-proyectos" type="button">
          <a class="botones-menu" href="#proyectos">Proyectos</a>
          </li>
          <li class="boton-mas" type="button">
            <a class="botones-menu" href="#" data-bs-toggle="dropdown">Mas</a>
            <ul class="dropdown-menu boton-mas-menu">
            <li>
              <a class="dropdown-item" href="#experiencia">Experiencia</a></li>
            <li>
              <a class="dropdown-item" href="#educación">Educación</a></li>
            <li>
                <a class="dropdown-item" href="#habilidades">Habilidades</a></li>
          </ul>
          </li>
          <li class="boton-contacto" type="button">
            <a routerLink="/contacto" class="botones-menu">Contacto</a></li>
        </ul>
      </div>
    <app-redes-sociales></app-redes-sociales>
    <app-boton-login></app-boton-login>
</div>
</nav>